[tool.poetry]
name = 'py-leap'
version = '0.1a22'
packages = [{include = 'leap', from='src'}]
description = ''
authors = ['Guillermo Rodriguez <guillermo@telos.net>']
readme = 'README.md'

[tool.poetry.dependencies]
python = '>=3.9'
asks = '^3.0.0'
base58 = '^2.1.1'
cryptos = '^2.0.9'
requests = '<2.32.0'

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = {version = '7.1.2'}
sphinx-rtd-theme = {version = '1.3.0'}

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pdbpp = {version = '^0.10.3'}
pytest = {version = '^7.4.2'}
docker = {version = '^6.1.3'}

[tool.poetry.group.snaps]
optional = true

[tool.poetry.group.snaps.dependencies]
bs4 = {version = '^0.0.2'}
tdqm = {version = '^0.0.1'}
zstandard = {version = '^0.21.0'}

[tool.pytest.ini_options]
log_cli = true
log_cli_level = 'INFO'
markers = [
    'bootstrap: test requires full chain bootstrap',
    'contracts: specify contracts you need deployed'
]

[build-system]
requires = ['poetry-core']
build-backend = 'poetry.core.masonry.api'
